doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    link(rel='stylesheet', href='http://cdn.staticfile.org/pure/0.4.2/pure-min.css')
    link(rel='stylesheet', href='http://cdn.staticfile.org/font-awesome/4.0.3/css/font-awesome.min.css')
  body
    block content
    script(src='http://cdn.staticfile.org/jquery/1.9.1/jquery.min.js')